/* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}

.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}
.btn-primary:hover{
    background: #66A1D3;
}
.col-sm-3,
.panel-heading {

	font-family: 'GenomeThin'; 
    font-weight: normal; 
  	font-style: normal; 
	font-size: 24px;
	padding-left: 15px;
}

.btn,
.task-table { 
   font-family: 'GenLight'; 
   font-weight: normal; 
   font-style: normal; 
   color: #402B2B;
}

.form-horizontal {
	position: fixed;
	background-color: #FFFFFF;
}

/*.panel-heading{
	position: fixed;
	background-color: #FFFFFF;
}
*/
INPUT.form-control {
	border-style: solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #FFC4C4;
	border-bottom-color: #F9D5D5;  
}

INPUT.form-control:hover {
	border-style: solid;
	opacity: 0.75;
	border-color: red;
	box-shadow: none;
}

.btn-default {
	margin-top: 5px;
	margin-left: 105px;
	}

.btn {
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	box-shadow: 0 0 5px 0 #FFC4C4;
	background-color: white;
}

.btn:hover {
	border-style: solid;
	opacity: 0.75;
	border-color: red;
	box-shadow: none
}

.btn:not(:hover) {
	transition: 0.2s;
}

INPUT.form-control:not(:hover) {
	transition: 0.2s;
}

.panel {
	padding-top: 85px;
}
